@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Alfa+Slab+One&family=Anek+Bangla:wght@100..800&family=Bentham&family=Black+Ops+One&family=Cardo:ital,wght@0,400;0,700;1,400&family=Courgette&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Scheherazade+New:wght@400;500;600;700&display=swap');

*{margin: 0px; padding: 0px}

body{
    font-family: 'Lato', sans-serif;
}

.bg-purple{
    background-color: #9333ea;
}

.bg-purple-600{
    background-color: #6b21a8;
}

.HeaderWrapper .top-stripe{
    color: white;
    padding: 8px 0;
}